# Question 1 :

* : It is an expression or mathematical operator used to perform multiplication operation.

'hello' : String value.

-87.8 : Float value.

- : It is an expression or mathematical operator used to perform subtraction operation.

/ : It is an expression or mathematical operator used to perform division operation.

+ : It is an expression or mathematical operator used to perform addition operation.

6 : Integer value.

# Question 2 :
### String : It is a datatype which is used to store text data by placing it in between single or double quotes in a particular variable.

### Variable : It is used to store all kinds of datatypes such as integer, float, text(string), boolean etc.

In [1]:
# the difference is explained by the following example in below cells.
s = "divyank" # this variable is of string datatype 
a = -32.3     # this variable is of float datatype

In [2]:
type(s)

str

In [3]:
type(a)

float

# Question 3 : 

### str : It is a datatype which is used to store text data by placing it in between single or double quotes in a particular variable. 

### int : It is a datatype which is used to store integer value data in a particular variable.

### float : It is a datatype which is used to store floating point numbers in a particular variable.

# Question 4 :

Expression : Expression is made up of different operators and operands used to produce some other values.

Expressions are used to perform some sort of calculations which produce some other values using some set of rules. These set of rules define how and when will be the operators and operands used.

# Question 5 :

Expressions:
Expressions are evaluated to some sort of values. They are made up of different operators and operands.

Statements: 
Statements usually perform some actions like printing a line, declaration of variables etc. It does whatever the coder demands it to do.

# Question 6 :

bacon has been assigned 22. In the next statement, 1 is added to bacon but this will not change bacon's value because there is no assignment operator used in the statement. Therefore bacon will remain equal to 22. The code is shown in the below cells.

In [4]:
bacon = 22

In [5]:
bacon + 1

23

In [6]:
bacon

22

# Question 7 :

In [7]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

As we can see from the above code, both the statements will return the same output.

# Question 8 :

According to the variable naming conventions of python, a variable name cannot start with a number. Therefore, 100 is an invalid variable name. But we can name a variable whose name starts with a letter. Therefore, eggs is a valid variable name.

# Question 9 :

int(),float() and str() can be used to get integer, floating point number and string version of a value. Below is an example for the same:

In [9]:
number = '1812'

In [10]:
int(number)

1812

In [11]:
float(number)

1812.0

In [12]:
str(number)

'1812'

# Question 10 :

The given expression gives an error because 'I have eaten' and 'burritos' are having string datatypes and 99 is having integer datatype. Therefore, we have to convert it to string datatype to concatenate it to above strings. It is done in below cells:

In [13]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'