## Question 1

In [8]:
km = float(input("enter the distance in kilometers: "))

mi = 1.6093 * km
print("the distance in miles is:",mi)

enter the distance in kilometers: 13
the distance in miles is: 20.9209

## Question 2

In [9]:
x = float(input("enter temperature in degree celcius:"))
f = (1.8 * x)+32
print('the temperature in fahrenheit is:',f)

enter temperature in degree celcius:45
the temperature in fahrenheit is: 113.0

## Question 3

In [10]:
import calendar 
yy = int(input('enter the year:'))
mm = int(input('enter the month:'))
print(calendar.month(yy,mm))
print(calendar.calendar(yy))

enter the year:2021
enter the month:8
    August 2021
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

## Question 4

In [11]:
import math
a = float(input("enter value of a:"))
b = float(input("enter value of b:"))
c = float(input("enter value of c:"))

d = b*b - (4*a*c)
x = math.sqrt(abs(d))
if d > 0:
    print("roots are real")
    print((-b-x)/(2*a))
    print((-b+x)/(2*a))
elif d == 0:
    print("roots are equal and real")
    print((-b)/(2*a))
    print((-b)/(2*a))
else:
    print("roots are complex")
    print((-b)/(2*a),"+i",x)
    print((-b)/(2*a),"-i",x)
if a == 0:
    print("the equation is not a quadratic equation!!")

enter value of a:2
enter value of b:3
enter value of c:4
roots are complex
-0.75 +i 4.795831523312719
-0.75 -i 4.795831523312719

## Question 5

In [13]:
a = input("enter 1st variable: ")
b = input("enter 2nd variable: ")
print()
print("variables before swapping")
print("1st variable: ",a)
print("2nd variable:",b)
a,b = b,a
print()
print("variables after swapping")
print("1st variable: ",a)
print("2nd variable:",b)

enter 1st variable: 67887
enter 2nd variable: klopp

variables before swapping
1st variable:  67887
2nd variable: klopp

variables after swapping
1st variable:  klopp
2nd variable: 67887